@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;500&family=Roboto:wght@400;700&display=swap');
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2994ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}
*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-cplour);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}
li{
    list-style: none;
}
header{
    padding: 50px var(--padding-inline-section) 0;
}

.small-bold-text{
    font-size: 1rem;
    font-weight: 550;
}
.flex{
    display: flex;
    align-items: center;
}
.secondary-button{
    border: 2px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    padding: 12px 24px;
    color: var(--secondary-text-color) !important; 
}
.secondary-button:hover{
    border-color: var(--accent-color) !important;
    color: var(--accent-color) !important;
}
.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    padding: 12px 24px;
    color: white !important; 
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;
}
.primary-button:hover{
    background-color: var(--accent-color-dark) !important;
}


.top-banner{
    background-color: #4fb3d4;
    background-image: url(/All-Img/NavPattern.png);
    background-size: 400px;
    background-repeat: repeat-x;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
.main-nav{
    position: relative;
    margin-top: 20px;
    justify-content: space-between;
}
.company-logo > img{
    width: 200px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}
.nav-links{
    flex-basis: 730px;
}
.nav-toggle{
    display: none;
}
.hover-link{
    color: var(--primary-text-color);
}

.hover-link:hover{
    color: var(--accent-color);
    transition: 0.2s ease-in-out;
}
.header-section{
    justify-content: center;
    gap: 50px;
}
.header-left {
    max-width: 40vw;
}
.header-right > img{
    width: 30vw;
}
.header-left > h1{
    margin:15px 0px;
}
.header-left > p {
    color: rgb(101, 99, 99);
}
.get-started-button{
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.companies-section{
    margin-block: 60px;
}
.companies-header{
    text-align: center;
    margin-block: 30px;
}
.logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.logo{
    height: 46px;
}

.future-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url('All-Img/claimAft.png');
    background-repeat: no-repeat;
    background-position: center;
}
.feature-header{
    margin-bottom: 40px;
}
.feature-header,.example-header{
    text-align: center;
}
.feature-header h2{
    margin-bottom: 20px;
}
.feture-are{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px;
}
.feture-card{
    flex-direction: column;
    gap: 20px;
    width: 30%;
    text-align: center;
}
.feture-card  > img{
    height: 40px;
}





.big-future-section{
    padding: 30px var(--padding-inline-section) 0;
}

.big-future-container{
    gap: 30px;
}
#big-future-second-item{
    flex-direction: row-reverse;
}
.future-img > img{
    width: 100%;
}
.future-desc{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}


.example-section{
    padding: 30px var(--padding-inline-section) 0;

}
.example-header{
    flex-direction: column;
    gap: 20px;
}
.example-card{
    position: relative;
    width: 23%;
    min-height: 300px;
    background: black;
    transition: 0.2s ease-in-out;
}
.card-text{
    position: absolute;
    inset: auto 20px 20px 20px;
    color: white;
}
.example-are{
    justify-content: space-between;
    margin-block:30px;
    flex-wrap: wrap;
}
.example-are a:nth-child(1){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url('/All-Img/Example-1.jpg');
    background-size: cover;
}
.example-are a:nth-child(2){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url('/All-Img/Example-2.jpg');
    background-size: cover;
}
.example-are a:nth-child(3){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url('/All-Img/Example-3.jpg');
    background-size: cover;
}
.example-are a:nth-child(4){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url('/All-Img/Example-4.jpg');
    background-size: cover;
}

.example-card:hover{
    box-shadow: 0 0 10px #888;
}




.cta-section-container{
    color: white;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.cta-section{
    background-color: #183b54;
    padding: 120px var(--padding-inline-section) 80px;
}
.cta-section-container > p{
    color: white;
    margin-top: 20px;
}



footer{
    padding-block: 80px;
    background-color: #ebf2fa;
}
.footer-container{
    justify-content: space-between;
}

.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-logo{
    height: 200px;
}



.sub-footer{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}
.sub-footer-container{
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.sub-footer-left{
    gap: 30px;
    flex-wrap: wrap;
}
.sub-footer-right{
    gap: 20px;
  
}


